.nav {
  height: 80px; 
  background-image:
    linear-gradient(
      gray, black);
}

.nav li {
  display: inline-block;
}

.nav h1 {
  color: white;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
}

.jumbotron {
  border-style: solid;
  border-width: 0px;
  border-color: black;
  padding-top:20px;padding-bottom:20px;margin-bottom:0px;
  background-color: rgb(210,210,210);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.jumbotron img {
  display: block;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  outline: 1px solid rgb(154,154,154);
}

.jumbotron h3 {
  text-align: center;
  color: black;
}

.jumbotron h4 {
  text-align: center;
  color: gray;
}

.album {
  height: 150px;
  background-image:
    linear-gradient(rgb(117,119,124),rgb(91,98,108));
  padding: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(210,210,210);
}

.thumbnails {
}

.album div {
  display:inline-block;
}

.album img {
  border: 4px solid white;
  margin: 15px;
}

.album .selected img{
  border: 4px solid rgb(166,225,246);
}
