<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script data-require="angular.js@1.2.13" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-app="PictureApp">
    <div class="main" ng-controller="MainController">
      <div class="nav">
        <div class="col-md-2">
	  <h4>Previous Arrow</h4>
	</div>
        <div class="col-md-8">
          <h1>{{ aName }}</h1>
	</div>
        <div class="col-md-2">
	  <h4>Next Arrow</h4>
	</div>
      </div>
      <div class="jumbotron">
	<img ng-src="{{ mainImage.url }}">
	<!-- XXX get rid of these centers Colin -->
	<center><h3>{{ mainImage.title }}</h3></center>
	<center><h4>Taken on {{ mainImage.date }} in {{ mainImage.location }}</h4></center>
      </div>
      <div class="container">
        <div ng-repeat="img in album.photos" class="col-md-2">
          <div class="thumbnails">
            <div class={{selected}}>
              <img ng-src="{{ img.thumb_url }}" ng-click="changeMainImage(img)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
