<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen and (max-width: 360px)" href="css/mobile.css" />
    <link rel="stylesheet" media="screen and (min-width: 361px)" href="css/main.css" />
    <script data-require="angular.js@1.2.13" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-app="PictureApp" ng-controller="MainController" ng-keydown="keyPress($event)">
    <div class="nav">
      <ul>
        <li><h4 class="leftbutton"><img src="open-iconic-master/svg/arrow-circle-left.svg" ng-click="previous()"/></h4></li>
        <li><h1>{{ aName }}</h1></li>
        <li><h4 class="rightbutton"><img src="open-iconic-master/svg/arrow-circle-right.svg" ng-click="next()"/></h4></li>
      </ul>
    </div>
    <div class="jumbotron">
      <img class="img-responsive" ng-src="{{ mainImage.url }}">
      <h3>{{ mainImage.title }}</h3>
      <h4>Taken on {{ mainImage.date }} in {{ mainImage.location }}</h4>
    </div>
    <div class="album">
      <div class="thumbnails">
        <div ng-repeat="img in album.photos">
          <div class={{selected}}>
            <img ng-src="{{ img.thumb_url }}" ng-click="changeMainImage(img)">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
